$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1900px,
);
@import "bootstrap/scss/bootstrap-grid";
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  background: var(--CREAM_01, #fff4e6);
}

// PAGE_HOME

.banner {
  background: url("../IMG/header.png") lightgray 50% / cover no-repeat;
  padding-top: 155px;
  padding-bottom: 155px;
}

.haeder {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 74px rgba(0, 0, 0, 0.75));
  gap: 46px;
}
.titre-01 {
  color: var(--CREAM_01, #fff4e6);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .titre-01 {
    font-size: 80px;
  }
}
@media (min-width: 1835px) and (max-width: 2000px) {
  .titre-01 {
    font-size: 100px;
  }
}
.button-01 {
  display: flex;
  padding: 25px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--CREAM_01, #fff4e6);
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .button-01 {
    font-size: 18px;
  }
}

.all-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.nav-01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: #91172c;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.38px;
  text-transform: uppercase;
}
.nav-02 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.nav-03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.img-nav {
  width: 28.768px;
  height: 27.588px;
}

.contenu {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  transform: translateX(-17%);
  background: #fff;
  margin-top: 50px;
}

.img-contenu-01 {
  margin-top: 50px;
}
.contenu-02 {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  transform: translateX(17%);
  background: #fff;
  margin-top: 50px;
}

.texte-home {
  color: var(--RED_03, #5c1414);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: 400;
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .texte-home {
    font-size: 22px;
  }
}

.button-02 {
  color: var(--RED_01, #a61928);
  text-align: center;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: var(--RED_01, #a61928);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(166, 25, 40, 0.33);
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .button-02 {
    font-size: 10 px;
  }
}
.contenue-04 {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 170px;
}
.titre-02 {
  color: var(--RED_03, #5c1414);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (min-width: 1000px) and (max-width: 1350px) {
  .titre-02 {
    font-size: 36px;
  }
}
.footer {
  display: flex;
  padding-top: 61px;
  flex-direction: column;
  align-items: flex-start;
  gap: 103px;
  flex-shrink: 0;
  background: var(--RED_03, #5c1414);
}
.bouc-dor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}
.legende {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  height: 45px;
  align-self: stretch;
}
.acction-01 {
  color: var(--CREAM_01, #fff4e6);
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.degustation {
  display: flex;
  width: 269px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
}
.titre-footer-01 {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-footer-01 {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.degu {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.acction-02 {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.Newsletter {
  display: flex;
  width: 281px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  flex-shrink: 0;
  padding-top: 20px;
}
.titre-footer-02 {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ins {
  display: flex;
  width: 267px;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.email {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid rgba(254, 228, 200, 0.5);
  background: rgba(0, 0, 0, 0.1);
  color: var(--CREAM_01, #fff4e6);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inscr {
  display: flex;
  width: 170px;
  padding: 10px 66px 10px 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid rgba(254, 228, 200, 0.5);
  background: var(--RED_01, #a61928);
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bio-suisse {
  padding-top: 35px;
}
.suivre {
  display: flex;
  width: 119px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 103px;
}
.titre-footer-03 {
  height: 16px;
  align-self: stretch;
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo-suiv {
  display: flex;
  width: 90px;
  padding: 0px 5px;
  align-items: center;
  gap: 15px;
}
.langue {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 103px;
}
.credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 30px;
  margin-top: 103px;
  padding-left: 15px;
}
.cred {
  display: flex;
  align-items: center;
  gap: 24px;
}
.text-cred {
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// PAGE_VIN_BLANC

.navigation-02 {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 12px;
  margin-top: 31px;
  margin-left: 40px;
}

.nav-04 {
  color: var(--RED_02, #91172c);
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.38px;
  text-transform: uppercase;
  gap: 12px;
  display: flex;
  justify-content: left;
  align-items: start;
}

.page-act {
  display: flex;
  align-items: center;
  gap: 6px;
}
.triangle {
  rotate: 90deg;
}
.vin-red {
  margin-top: 160px;
}
.titre-04 {
  margin-top: 150px;
}
.ptitre {
  color: rgba(166, 25, 40, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.38px;
  text-transform: uppercase;
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .ptitre {
    font-size: 16px;
  }
}
.gtitre {
  color: var(--RED_02, #91172c);
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .gtitre {
    font-size: 32px;
  }
}
@media (min-width: 1500px) and (max-width: 1550px) {
  .gtitre {
    font-size: 40px;
  }
}
@media (min-width: 1550px) and (max-width: 1605px) {
  .gtitre {
    font-size: 42px;
  }
}
@media (min-width: 1605px) and (max-width: 1650px) {
  .gtitre {
    font-size: 44px;
  }
}
@media (min-width: 1650px) and (max-width: 1700px) {
  .gtitre {
    font-size: 45px;
  }
}
@media (min-width: 1700px) and (max-width: 1751px) {
  .gtitre {
    font-size: 46px;
  }
}
.article-red-01 {
  color: var(--RED_03, #5c1414);
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .article-red-01 {
    font-size: 16px;
  }
}
.article-red-02 {
  color: var(--RED_03, #5c1414);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .article-red-02 {
    font-size: 15px;
  }
}
.button-shop-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 2px;
  border: 3px solid rgba(166, 25, 40, 0.33);
  display: flex;
  width: 260px;
  margin-top: 64px;
  margin-bottom: 180px;
}

.texte-button-01 {
  color: rgba(166, 25, 40, 0.8);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .button-shop-01,
  .texte-button-01 {
    font-size: 11px;
    width: 195px;
    padding: 10px;
    gap: 1px;
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  .button-shop-01,
  .texte-button-01 {
    font-size: 12px;
    width: 210px;
    padding: 10px;
    gap: 5px;
  }
}
.button-autre-colec {
  color: var(--RED_01, #a61928);
  text-align: center;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: var(--RED_01, #a61928);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 147px;
  margin-top: 130px;
}
.but {
  display: flex;
  display: inline-flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(166, 25, 40, 0.33);
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .button-autre-colec {
    margin-top: 10px;
  }
}
