$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1900px,
);
@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  background: var(--CREAM_01, #fff4e6);
  padding: auto;
}
.banner {
  background: url("../IMG/header.png") lightgray 50% / cover no-repeat;
  padding-top: 155px;
  padding-bottom: 155px;
}

.haeder {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 74px rgba(0, 0, 0, 0.75));
  gap: 46px;
}
.titre-01 {
  color: var(--CREAM_01, #fff4e6);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .titre-01 {
    font-size: 80px;
  }
}
@media (min-width: 1835px) and (max-width: 2000px) {
  .titre-01 {
    font-size: 100px;
  }
}
.button-01 {
  display: flex;
  padding: 25px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--CREAM_01, #fff4e6);
  color: var(--CREAM_01, #fff4e6);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .button-01 {
    font-size: 18px;
  }
}

.all-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: #91172c;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.38px;
  text-transform: uppercase;
}
.nav-02 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.nav-03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.img-nav {
  width: 28.768px;
  height: 27.588px;
}

.contenu {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  transform: translateX(-17%);
  background: #fff;
  margin-top: 50px;
}

.img-contenu-01 {
  margin-top: 50px;
}
.contenu-02 {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  transform: translateX(17%);
  background: #fff;
  margin-top: 50px;
}

.texte-home {
  color: var(--RED_03, #5c1414);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: 400;
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .texte-home {
    font-size: 22px;
  }
}

.button-02 {
  color: var(--RED_01, #a61928);
  text-align: center;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: var(--RED_01, #a61928);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(166, 25, 40, 0.33);
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .button-02 {
    font-size: 10 px;
  }
}

.footer {
  background-color: aqua;
}
